*
{
    margin: 0px;
}
.orejaizq
{
    background-color: chocolate;
    width: 50px;
    height: 50px;
    border-radius: 30px ;
    position: fixed;
    top: 70px;
    left: 760px;
}
.orejadere
{
    background-color: chocolate;
    width: 50px;
    height: 50px;
    border-radius: 30px ;
    position: fixed;
    top: 60px;
    left: 600px;
}
.cabeza
{
    background-color: chocolate;
    width: 200px;
    height: 200px;
    border-radius: 170px;
    position: fixed;
    top: 80px;
    left: 600px;
}
.cuerpo
{
    background-color: chocolate;
    width: 200px;
    height: 250px;
    border-radius: 170px;
    position: fixed;
    top: 270px;
    left: 600px;
}
.piedere
{
    background-color: chocolate;
    width: 50px;
    height: 50px;
    border-radius: 170px;
    position: fixed;
    top: 510px;
    left: 720px;
}
.pieizq
{
    background-color: chocolate;
    width: 50px;
    height: 50px;
    border-radius: 170px;
    position: fixed;
    top: 510px;
    left: 630px;
}
.manodere
{
    background-color: chocolate;
    width: 50px;
    height: 50px;
    border-radius: 170px;
    position: fixed;
    top: 300px;
    left: 790px;
}
.manoizq
{
    background-color: chocolate;
    width: 50px;
    height: 50px;
    border-radius: 170px;
    position: fixed;
    top: 300px;
    left: 560px;
}
.ojodere
{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 30px ;
    position: fixed;
    top: 100px;
    left: 630px; 
}
.ojoizq
{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 30px ;
    position: fixed;
    top: 100px;
    left: 700px;
}
.boca
{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 30px ;
    position: fixed;
    top: 150px;
    left: 680px;
}